@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body {

   /* Color palette */
   --base-backdrop: #0b2f43;
   --text-color: #fff58b;
   --content-backdrop: #114867;
   --content-inset-backdrop: #0e3b54;
   --fat-border: #dfd004;
   --link-color: #fff;
   --content-outset-backdrop: #165c83;

   font-family: Pangolin, sans-serif;
   background-color: var(--base-backdrop);
   color: var(--text-color);
   margin: 0px;
}

main {
   margin: 0px;
   background-color: var(--content-backdrop);
   padding: 24px;
   --border-radius: 8px;
}

h1:first-child, h2:first-child {
   margin-top: 0;
}

.header {
   height: 150px;
   width: 100%;
   border-bottom: 12px solid var(--fat-border);
   margin: 0px;
}
/*
#header_border {
   height: 16px;
   margin: 0px;
   width: 100%;
   background: url(/img/candy.png) 0px 0px repeat-x;
}*/

.logo {
   height: 150px;
   background: url(/img/banner.png) 10px 0px no-repeat;
}

a {
   color: var(--link-color);
   border-bottom: 4px solid var(--fat-border);
   text-decoration: none;
}

footer {
   border-top: 12px solid var(--fat-border);

}

input[type=text] {
   background-color:inherit;
   border:none;
   border-bottom: 2px solid var(--fat-border);
   color: inherit;
   font-family: inherit;
   font-size: inherit;
}

.bio {
   width: 100%;
   font-family: inherit;
   min-height: 200px;
   border:none;
   border-radius: 4px;
   background-color: var(--content-inset-backdrop);
   color: inherit;
   padding: 8px;
}

.edit_footer {
   text-align: middle;
   border-top: 2px solid var(--fat-border);
   padding: 8px;
}

.edit_footer button {
   font-size: 1.5em;
   background: none;
   color: inherit;
   border-radius: 4px;
   background-color: var(--content-outset-backdrop);
   font-family: inherit;
   
}
.edit_footer button:active {
   position: relative;
   top: 1px;
   background-color: var(--content-inset-backdrop);
}

.likelist {
   width: 100%;
   min-height: 200px;
   
}

.likelist td {
   border: 2px solid #0a2838;
   border-radius: 2px;
   border-top: 8px solid #0558e0;
   background: var(--content-outset-backdrop);
   background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #15587e), color-stop(1, #104461) );
   vertical-align: top;
   padding: 8px;
   width: 25%;
   
}

.likelist td p:first-child {
   margin-top: 0;
}

.likelist .fave {
   border-top-color: #4a90ff;
}
.likelist .fave .title {
   color: #4a90ff;
   font-weight: bold;
}

.likelist .yes {
   border-top-color: #30e010;
}
.likelist .yes .title {
   color: #30e010;
}

.likelist .maybe {
   border-top-color: #f0f335;
}
.likelist .maybe .title {
   color: #f0f335;
}

.likelist .no {
   border-top-color: #f01515;
}

.likelist .no .title {
   color: #f01515;
}

input.slug {
   padding-left: 75px;
   width: calc( 100% - 75px );
}

input:focus {
   outline: none;
   background-color: var(--content-outset-backdrop);
}

label.slug {
   position: absolute;
   padding: 0;
}

#likesources {

}