@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body {
   
   /* Color palette */
   --base-backdrop:           #0b2f43;
   --text-color:              #fff58b;
   --content-backdrop:        #114867;
   --content-inset-backdrop:  #0e3b54;
   --fat-border:              #dfd004;
   --link-color:              #fff;
   --content-outset-backdrop: #165c83;
   
   font-family:      Pangolin, sans-serif;
   background-color: var(--base-backdrop);
   color:            var(--text-color);
   margin:           0px;
}

main {
   margin:           0px;
   background-color: var(--content-backdrop);
   padding:          24px;
   --border-radius:  8px;
}

h1:first-child, h2:first-child, p:first-child {
   margin-top: 0;
}

.header {
   height:        150px;
   width:         100%;
   border-bottom: 12px solid var(--fat-border);
   margin:        0px;
}
/*
#header_border {
   height: 16px;
   margin: 0px;
   width: 100%;
   background: url(/img/candy.png) 0px 0px repeat-x;
}*/

.logo {
   margin-left: 10px;
   display: inline-block;
}

a {
   color:           var(--link-color);
   border-bottom:   4px solid var(--fat-border);
   text-decoration: none;
}

.header a {
   border-bottom: none;
}

footer {
   border-top: 12px solid var(--fat-border);
   padding: 8px;
   min-height: 100px;
}

input[type=text] {
   background-color: inherit;
   border:           none;
   border-bottom:    2px solid var(--fat-border);
   color:            inherit;
   font-family:      inherit;
   font-size:        inherit;
}

.bio, .custom-activity-form textarea {
   width:            100%;
   font-family:      inherit;
   min-height:       64px;
   border:           none;
   border-radius:    4px;
   color:            inherit;
   box-sizing:       border-box;
   margin-bottom:    16px;
}

.bio a {
   border-bottom-width: 1px;
}

.editable-textbox {
   background-color: var(--content-inset-backdrop);
   color:            white;
   padding:          8px;
   min-height:       200px;
}

.custom-activity-form textarea {
   height: 70px;
   min-height: 70px;
}

.edit_footer {
   text-align: middle;
   border-top: 2px solid var(--fat-border);
   padding:    8px;
}

button {
   background:       none;
   color:            inherit;
   border-radius:    4px;
   background-color: var(--content-outset-backdrop);
   font-family:      inherit;
}

.edit_footer button {
   font-size:        1.5em;
}


button:active {
   position:         relative;
   top:              1px;
   background-color: var(--content-inset-backdrop);
}

.likelist {
   width:      100%;
   min-height: 200px;
}

.likelist td {
   border:         2px solid #0a2838;
   border-radius:  2px;
   border-top:     8px solid #0558e0;
   background:     var(--content-outset-backdrop);
   background:     -webkit-gradient(
                     linear,
                     left top,
                     left bottom,
                     color-stop(0, #15587e),
                     color-stop(1, #104461)
                   );
   vertical-align: top;
   padding:        8px;
   width:          25%;
   
}

.likelist td p:first-child {
   margin-top: 0;
}

.likelist .fave {
   border-top-color: #4a90ff;
}
.likelist .fave .title {
   color:     #4a90ff;
   font-weight: bold;
}

.likelist .yes {
   border-top-color: #30e010;
}
.likelist .yes .title {
   color: #30e010;
}

.likelist .maybe {
   border-top-color: #f0f335;
}
.likelist .maybe .title {
   color: #f0f335;
}

.likelist .no {
   border-top-color: #f01515;
}

.likelist .no .title {
   color: #f01515;
}
/*
input.slug {
   padding-left: 75px;
   width:        calc( 100% - 75px );
}*/

input:focus {
   outline:          none;
   background-color: var(--content-outset-backdrop);
}

input.trait {
   width: 100%;
   padding: 0;
   color: white;
}

#funbox {
   background-color: var(--content-inset-backdrop);
   min-height:       200px;
   margin-bottom:    20px;
   border-radius:    4px;
   display:          flex;
   flex-wrap:        wrap;
   overflow-y:       scroll;
   width:            100%;
   padding:          2px;
   place-content:    flex-start;
   box-sizing:       border-box;
}

.fun {
   background-color: var(--content-outset-backdrop);
   color:            black;
   padding:          4px;
   height:           20px;
   user-select:      none;
   cursor:           grab;
   margin:           0;
   border-radius:    8px;
   color:            white;
   border:           1px solid var(--content-inset-backdrop);
}

.fun:active, .ui-draggable-helper:active, .ui-draggable-helper {
   /* CLOSE DEV TOOLS. */
   cursor: grabbing;
}

.fun.pickedup {
   opacity: 0;
}

#funbox .fun {
   /* When they're in the fun bin, give them a fixed width in order to fit nicely in the flex box. */
   width: 150px;
   margin-right: 2px;
   margin-bottom: 2px;
}

.fundrop .fun {
   margin-top: 1px;
}

#funtip {
   width: 200px;
   display: inline-block;
   position: fixed;
   background-color: var(--content-outset-backdrop);
   padding: 8px;
   border-radius: 4px;
   box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
   border: 1px solid #000;
}

#funtip .title {
   color: var(--link-color);
}

#funtip .desc {
   font-size: 0.9em;
}

.custom-activity-form {
   width: 500px;
   border-radius: 4px;
   border: 1px solid var(--content-inset-backdrop);
   padding: 16px;
}
.custom-activity-form button {
   width: 64px;
   padding: 4px;
}

#custom-fun {
   width: 200px;
}

/* Editor ----------------------------------------------------------------------------- */
.ui-draggable-helper:active {
   cursor: grabbing;
}


/* Panel */
ul.profile_list {
   line-height: 1.5em;
}

ul.profile_list li {
   list-style-type: square;
}

ul.profile_list a {
   border-bottom-width: 2px;
}

/* Profile view */
.layout-tc {
   width: 100%;
}

.layout-tc .left-column {
   vertical-align: top;
   width: 180px;
}

.layout-tc .right-column {
   vertical-align: top;
   padding-left: 16px;
}

ul.traitlist {
   margin-block-start: 0px;
   padding-inline-start: 0px;
}

ul.traitlist li {
   list-style-type: none;
   font-size: 0.9em;
}

.traitlist .traitname {
   color: var(--link-color);
}

.likelist ul {
   
   margin-block-start: 0px;
   padding-inline-start: 21px;
}
.likelist li {
   list-style-type: none;
   list-style-image: url(/img/activity.png);
   cursor:default;
}

.likelist li.custom {
   list-style-image: url(/img/bullseye.png);
}

.avatar {
   width: 150px;
   height: 150px;
   border: 3px solid var(--content-outset-backdrop);
}